body{
    background-color:#2b2b2b;
    margin:0;
}



/*Grid Settings*/

.grid{
    height:100vh;
    display:grid;
    align-items:center;
    grid-template-columns:
    [col-start] 1fr
    [col-2] 1fr
    [col-3] 1fr
    [col-4] 1fr
    [col-5] 1fr
    [col-6] 1fr
    [col-7] 1fr
    [col-end];

    grid-template-rows: 
    1fr
    1fr
    1fr
    1fr
    1fr
    1fr 
    ;

    grid-template-areas: 
    "backarrow uparrow . . logo . . "
    "wheelicon carcontainer carimage carimage carimage carimage carimage"
    "filtericon carcontainer carimage carimage carimage carimage carimage"
    "calipericon carcontainer carimage carimage carimage carimage carimage"
    "colfiller carcontainer carimage carimage carimage carimage carimage"
    "colfiller downarrow carimage carimage carimage carimage carimage"
    ;

    
}




/*Standard Settings*/

.wheelstandard{
    height:16.6vh;
    cursor:pointer;
}

.menustandard{
    margin:auto;
}

.col1{
    display:flex;
}

.col2{
    margin:auto;
}



/*Asset Settings*/

.backbuttonimg{
    grid-area:backarrow;
    height:50px;
    background-color:#161616;
    margin:auto;
    margin-left:50px;
}
.backbutton{
    background-color:#161616;
    height:100%;
    border-bottom-right-radius: 8px;

}



.uparrow{

    height:80px;

}
.uparrowimg{
    grid-area:uparrow;
    height:80px;
    display:none;

}

.uparrowimg.show{
    filter:brightness(100%);
    display:block;
    cursor:pointer;
}




.logo{
    grid-area: logo;
    height:60px;
}
.logoimg{
    height:60px;
}



.wheelicon{
    grid-area:wheelicon;
    height:100%;
    width:100%;
    background-color:#2b2b2b;
}
.wheeliconimg{
    height:60px;
}




.calipericon{
    grid-area:calipericon;
    height:100%;
    width:100%;
    background-color:#161616;
    border-top-right-radius: 8px;
}
.calipericonimg{
    height:60px;
}




.filtericon{
    grid-area:filtericon;
    height:100%;
    width:100%;
    background-color:#2b2b2b;
}

.filtericonimg{
    grid-area:filtericon;
    height:60px;
}




.carousel-container{
    grid-area:carcontainer;
    height:66vh;
    display:flex;
    flex-direction:column;
    overflow:hidden;
}

.track{
    transition: transform 0.3s;
    margin:auto;
    display:flex;
    flex-direction:column;
}




.downarrow{
    grid-area:downarrow;
    height:80px;

}

.downarrowimg{
    height:80px;
    cursor:pointer;
}

.downarrowimg.hide{
    filter: brightness(30%);
    display:none;
}


.colfiller{
    grid-area:colfiller;
    height:100%;
    width:100%;
    background-color:#161616;
}





/*Image Settings*/

.carimage{
    grid-area:carimage;
    background-image: url("img/MySubaru.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:95%;
    width:98%;
    border:white;
    border-style:solid;

}
.subarupic{
    height: 100%;
}


.displayed-wheels{
    display:none;
}

.displayed-wheels.show{
    display:block;
}
.front-wheel{

    position: relative;
    z-index: 0;
    height:120px;
    top:395px;
    left:215px;
}

.rear-wheel{

    position: relative;
    z-index: 0;
    height:120px;
    top:395px;
    left:581px;
}

.wheel2img.border{
    outline: 3px solid white;
    outline-style: ridge;
}



