body{
    background-color:#2b2b2b;
    margin:0;
}



/*Grid Settings*/

.grid{
    height:100vh;
    display:grid;
    align-items:center;
    grid-template-columns:
    [col-start] 1fr
    [col-2] 1fr
    [col-3] 1fr
    [col-4] 1fr
    [col-5] 1fr
    [col-6] 1fr
    [col-7] 1fr
    [col-end];

    grid-template-rows: 
    1fr
    1fr
    1fr
    1fr
    1fr
    1fr 
    ;

    grid-template-areas: 
    "backarrow uparrow . . logo . . "
    "wheelicon carcontainer carimage carimage carimage carimage carimage"
    "filtericon carcontainer carimage carimage carimage carimage carimage"
    "calipericon carcontainer carimage carimage carimage carimage carimage"
    "colfiller carcontainer carimage carimage carimage carimage carimage"
    "colfiller downarrow carimage carimage carimage carimage carimage"
    ;

    
}




/*Standard Settings*/

.menustandard{
    margin:auto;
}

.wheelstandard{
    height:16.5vh;
    cursor:pointer;
}

.caliperstandard{
    height: 12vh;
    cursor:pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filterstandard{
    border: 3px solid #929292;
    border-radius:20%;
    background: transparent;
    color:white;
    padding-top:8%;
    padding-bottom:8%;
    cursor:pointer;
}

.filtercontainer{
    height:44vh;
    width:15vh;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;

}

.col1{
    display:flex;
}

.col2{
    margin:auto;
}



/*Asset Settings*/

.backbuttonimg{
    grid-area:backarrow;
    height:50px;
    background-color:#161616;
    margin:auto;
    margin-left:50px;
}
.backbutton{
    background-color:#161616;
    height:100%;
    border-bottom-right-radius: 8px;

}

.backbutton.removeedges{
    background-color:#161616;
    height:100%;
    border-bottom-right-radius: 0px;

}



.uparrow{

    height:80px;

}
.uparrowimg{
    grid-area:uparrow;
    height:80px;
    display:none;

}
.uparrowimg.show{
    filter:brightness(100%);
    display:block;
    cursor:pointer;
}




.logo{
    grid-area: logo;
    height:60px;
}
.logoimg{
    height:60px;
}



.wheelicon{
    grid-area:wheelicon;
    height:100%;
    width:100%;
    background-color:#2b2b2b;
    border-bottom-right-radius: 8px;
}
.wheelicon.roundEdges{
    border-bottom-right-radius: 8px;
}

.wheeliconimg{
    height:80px;
    cursor:pointer;
    transition: height 0.3s ;
    -webkit-transition: -webkit-transform .5s ease-in-out;
}
.wheeliconimg:hover {
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}



.calipericon{
    grid-area:calipericon;
    height:100%;
    width:100%;
    background-color:#161616;
    border-top-right-radius: 8px;
}
.calipericonimg{
    height:60px;
    cursor:pointer;
    transition: height 0.25s;
    transition: all .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out; 
}

.calipericonimg:hover {
    transform:rotate(30deg);
    -ms-transform:rotate(30deg);
    -webkit-transform:rotate(30deg);
}


.filtericon{
    grid-area:filtericon;
    height:100%;
    width:100%;
    background-color:#2b2b2b;
}

.middlebuttonimg{
    grid-area:filtericon;
    height:60px;
    cursor: pointer;
}

.filteroptions{
    display:flex;
    flex-direction:column;
    height:50%;
    justify-content:space-evenly;
}



.carousel-container{
    grid-area:carcontainer;
    height:66vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    overflow:hidden;
}

#track{
    transition: transform 0.3s;
    margin:auto;
    display:flex;
    flex-direction:column;
}


.downarrow{
    grid-area:downarrow;
    height:80px;

}

.downarrowimg{
    height:80px;
    cursor:pointer;
}

.downarrowimg.hide{
    display:none !important;
}


.colfiller{
    grid-area:colfiller;
    height:100%;
    width:100%;
    background-color:#161616;
}

.colfillerround{
    border-top-right-radius: 8px;
}





/*Image Settings*/

.carimage{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    grid-area:carimage;
    background-image: url("img/MySubaru.jpg");
    transition: ease-in;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:95%;
    width:98%;
    border:white;
    border-style:solid;

}


.loading{
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
        box-shadow: 0px 0px 80px black;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

.loading.hide{
    display:none;
}

.subarupic{
    height: 100%;
}


.displayed-wheels{
    display:none;
}

.displayed-wheels.show{
    display:block;
}


.front-wheel{

    position: absolute;
    height:120px;
    -webkit-user-drag: none;
    cursor: move;
}


.rear-wheel{

    position: absolute;
    height:120px;
    top:395px;
    left:581px;
    cursor: move;
}


.wheel2img.selected{
    background-color: #454545;
}

.activecaliper{
    position:sticky;
    height:12%;
    top: 60%;
}

